    <div *ngIf="apiService.isLoggedInUser(); else loginForm">
        <h2>Welcome, {{ apiService.getUsername() }}</h2>
        <button (click)="logout()">Logout</button>
    </div>
<ng-template #loginForm>
    <div class="login-container">
        <div *ngIf="isLoginFormVisible" class="login-form">
          <h2>Login</h2>
          <form (ngSubmit)="onLoginSubmit()">
            <label for="login-username">Username:</label>
            <input type="text" id="login-username" name="login-username" [(ngModel)]="loginUsername" required>
            <label for="login-password">Password:</label>
            <input type="password" id="login-password" name="login-password" [(ngModel)]="loginPassword" required>
            <button type="submit">Login</button>
          </form>
          <p>Don't have an account? <a href="/registration#" (click)="toggleForm()">Register</a></p>
        </div>
      
        <div *ngIf="!isLoginFormVisible" class="register-form">
          <h2>Register</h2>
          <form (ngSubmit)="onRegisterSubmit()">
            <label for="register-username">Username:</label>
            <input type="text" id="register-username" name="register-username" [(ngModel)]="registerUsername" required>
            <label for="register-email">Email:</label>
            <input type="email" id="register-email" name="register-email" [(ngModel)]="registerEmail" required>
            <label for="register-password">Password:</label>
            <input type="password" id="register-password" name="register-password" [(ngModel)]="registerPassword" required>
            <button type="submit">Register</button>
          </form>
          <p>Already have an account? <a href="/registration#" (click)="toggleForm()">Login</a></p>
        </div>
    </div>
</ng-template>
  