<h1>Наша галерея</h1>
<div class="gallery">
  <div class="row">
    <figure>
      <img src="./assets/images/image1.jpeg" alt="Фото 1">
      <figcaption>Подорож на північне море у Англію</figcaption>
    </figure>
    <div class="description">
      <h4>
        Подорож на північне море у Англію була для нас справжнім пригодою. Відправившись з комфортабельного порту, ми насолоджувалися 
        красивим видом на океан та відчували себе мандрівниками на затишному кораблі. Прибувши до берегів, ми мали можливість відвідати старовинні 
        замки та мальовничі містечка, дізнаватися про історію та культуру цієї чарівної місцевості. Подорож на північне море у Англію виявилася незабутньою. 
        Смакуючи місцеву кухню та спілкуючись з місцевими мешканцями, ми занурювались у атмосферу англійського життя та отримували незабутні враження.
      </h4>
    </div>
  </div>

  <div class="row">
    <figure>
      <img src="./assets/images/image2.png" alt="Фото 2">
      <figcaption>Подорож у Туреччину</figcaption>
    </figure>
    <div class="description">
      <h4>
        Подорож у Туреччину - це справжня мандрівка у часі та просторі. Вирушаючи на цю країну, ви отримаєте можливість доторкнутися до давніх цивілізацій, 
        насолодитися багатим культурним спадком і відкрити для себе неймовірні природні краси. У Туреччині ви зможете відвідати дивовижні історичні пам'ятки, 
        такі як давні міста Ефес і Троя, величні палацові комплекси в Стамбулі, а також унікальні печерні містечка Каппадокії. Поміж культурних екскурсій ви 
        зможете відпочити на шикарних пляжах Середземного та Егейського морів, насолоджуючись сонцем і морськими прогулянками. Турецька кухня також вражає своєю 
        смаковою різноманітністю: смачні м'ясні страви, свіжі овочі та фрукти, ароматні спеції і безліч видів солодощів - це лише частина того, що варто спробувати.
        Усі ці враження, поєднані з гостинністю місцевих жителів та красою природи, роблять подорож у Туреччину незабутньою. 
      </h4>
    </div>
  </div>
  <div class="row">
    <figure>
      <img src="./assets/images/image3.jpg" alt="Фото 3">
      <figcaption>Подорож у Польщу</figcaption>
    </figure>
    <div class="description">
      <h4>
        Подорож у Польщу - це захоплююче відкриття для тих, хто цікавиться історією, культурою і природними красами. Ця країна має багату історію і вражаючий культурний 
        спадок, що привертає мандрівників з усього світу. Столиця Польщі, Варшава, вражає своєю архітектурою, особливо Старе Місто, яке було відновлене після війни і внесене 
        до списку Світової спадщини ЮНЕСКО. Краків, що славиться своїм серцем - Ринок Безалкогольних Напоїв, і неподалік розташоване Аушвіц - символ пам'яті про жертви Голокосту, 
        знаходяться серед найвідоміших місць. Польща також славиться своїми природними красами. Татри, гори на кордоні з Словаччиною, пропонують чудові маршрути для туристів і 
        любителів активного відпочинку. Мазурські озера, що знаходяться на північному сході країни, відомі своєю красою і можливостями для водних розваг. Не можна забувати і про 
        польську кухню - смачні пироги (пероги), різноманітні сири та м'ясні страви, які здебільшого приготовані за традиційними рецептами. Польща вражає своєю різноманітністю, 
        і кожен, хто вирушає туди, знайде щось цікаве для себе.
      </h4>
    </div>
  </div>
</div>
<hr>
<div class="video-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/X5uxoBv-myU?si=Mk3jjt4QMZXA_5WI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
