<div class="travel-section">
    <h2 class="paragraph">Чому вам слід обрати саме нашу тур фірму?</h2>
    <p>Подорожі - це завжди чудова можливість відпочити, досліджувати нові місця та насолоджуватися життям. Коли ви вибираєте турагенцію для 
    вашої наступної подорожі, ось чому ми вважаємо, що ви повинні обрати нашу:</p>
    <ul>
        <li>По-перше, ми пропонуємо широкий вибір турів до різних країн та міст. Ви можете обрати подорож за вашим бажанням і інтересами.</li>
        <li>По-друге, наші професіонали мають багаторічний досвід у сфері туризму та завжди готові надати вам кваліфіковану підтримку та консультації.</li>
        <li>По-третє, ми дбаємо про ваш комфорт та безпеку під час подорожей, співпрацюючи тільки з надійними партнерами та готелями.</li>
      </ul>
    
    <p>Також, ми пропонуємо зручні умови бронювання турів та гнучку систему оплати, щоб зробити ваше подорожування максимально комфортним і приємним.
    Отже, обираючи нашу турагенцію, ви отримуєте не лише подорожі, але й якісний сервіс та підтримку на кожному етапі вашої подорожі. Заплануйте свої наступні 
    пригоди разом з нами!</p>
    
    <p>Підготовка до від'їзду є важливим етапом будь-якої подорожі. Це час для планування та організації всього, що вам знадобиться під час подорожі. Планування маршруту 
    дозволяє вам оптимізувати час і відвідати всі місця, які вас цікавлять. Бронювання квитків і готелів забезпечує вам зручність і спокій під час подорожі. Оформлення документів - це ключ до безпроблемного перетину кордону і безпеки під час подорожі. І, звісно, підготовка речей і спорядження допоможе вам зробити вашу подорож комфортною та приємною.</p>
    <h2 class="paragraph">Які є етапи подорожей?</h2>
    <p>Подорож - це завжди цікава пригода, що складається з кількох етапів.</p>
    <ol>
    <li>Першим етапом є підготовка до подорожі. Це включає в себе вибір напрямку, планування маршруту, бронювання готелів або місць проживання, купівлю квитків на транспорт і так далі. Тут важливо враховувати всі деталі, щоб подорож пройшла гладко.</li>
    <li>Другий етап - це саме відправлення. Це момент, коли ви знаходитесь на шляху до свого місця призначення. Це може бути поїздка на автомобілі, поїзд, літак або навіть корабель. Тут важливо мати при собі всі необхідні документи, багаж і засоби комунікації.</li>
    <li>Третій етап - це відкриття нового. Прибувши на місце, ви починаєте досліджувати нові місця, культуру, традиції і кухню. Це час для відкриття і нових вражень.</li>
    <li>Останній етап - повернення додому. Після цікавої подорожі завжди приходить час повертатися додому. Це може бути також цікавий етап, оскільки ви можете згадати всі свої пригоди, поділитися враженнями з друзями і родиною.</li>
    </ol>

    <p>Ці етапи можуть відрізнятися залежно від типу подорожі, її тривалості і специфіки маршруту, але загальна структура залишається схожою. Кожен етап має свої власні виклики і радощі, що робить подорожі такими захоплюючими та незабутніми.</p>
    </div>
<div class="weather-container">
  <div *ngIf="apiService.getWeatherInfo() " class="weather-item">
    <p>Погода у Жулянах</p>
    {{apiService.getWeatherInfo().list[0].dt_txt}}:
    {{apiService.getWeatherInfo().city.name}},
    {{(apiService.getWeatherInfo().list[0].main.temp - 273).toFixed(0)}} C,
    {{apiService.getWeatherInfo().list[0].weather[0].description}}
    <br>
    {{apiService.getWeatherInfo().list[1].dt_txt}}:
    {{apiService.getWeatherInfo().city.name}},
    {{(apiService.getWeatherInfo().list[1].main.temp - 273).toFixed(0)}} C,
    {{apiService.getWeatherInfo().list[1].weather[0].description}}
    <br>
    {{apiService.getWeatherInfo().list[2].dt_txt}}:
    {{apiService.getWeatherInfo().city.name}},
    {{(apiService.getWeatherInfo().list[2].main.temp - 273).toFixed(0)}} C,
    {{apiService.getWeatherInfo().list[2].weather[0].description}}
    <br>
    {{apiService.getWeatherInfo().list[3].dt_txt}}:
    {{apiService.getWeatherInfo().city.name}},
    {{(apiService.getWeatherInfo().list[3].main.temp - 273).toFixed(0)}} C,
    {{apiService.getWeatherInfo().list[3].weather[0].description}}
    <br>
    {{apiService.getWeatherInfo().list[4].dt_txt}}:
    {{apiService.getWeatherInfo().city.name}},
    {{(apiService.getWeatherInfo().list[4].main.temp - 273).toFixed(0)}} C,
    {{apiService.getWeatherInfo().list[4].weather[0].description}}
  </div>
  <button (click)="apiService.updateWeatherInfo()">Дізнатись погоду</button>
  <button (click)="downloadFile()">Зберегти сторінку</button>
</div>
    
<div class="floating-button" (click)="redirectToTours()">Подивитись наявні тури</div>
